# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin
bin/*
rpm
rpm/*
dist


# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

#terraform
*.terraform
*.tfstate
/example/*.log
/example/terraform-provider-srl

#generator
/out/
/generator
/generator/*
/generator2/
/tf_generator/out/*
/tf_generator/out2/*
/yang
/yang/*
PRIVATE.md

